.backdrop{ 

    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    min-height:100vh;
    overflow-y: scroll;
}

.modalBodyStyle {
    max-height: 400px;
    overflow: scroll;
}